@import "../../styles/variables";

.row {
  align-items: center;
  gap: 1.5rem;

  .image {
    flex: 1 1 40rem;

    img {
      width: 100%;
      height: 40rem;

      @media (max-width: 450px) {
        height: auto;
      }
    }
  }

  .content {
    flex: 1 1 40rem;
    text-align: center;

    h3 {
      font-size: $fs-25;
      color: var(--black);
    }

    p {
      line-height: 2;
      font-size: $fs-17;
      color: var(--light-color);
      padding-block: 1rem;
    }

    a {
      width: fit-content;
      margin-inline: auto;
    }
  }
}

.sobre .box-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 25px;
  flex-wrap: wrap;

  .box {
    @include box(var(--white));
    display: flex;
    flex: 1 1 25rem;
    align-items: center;
    gap: 2rem;


    i {
      color: var(--black);
      font-size: $fs-30;
    }

    h3 {
      color: var(--dark-blue);
      font-size: $fs-25;
    }

    span {
      color: var(--light-color);
      font-size: $fs-16;
    }
  }
}

#reviews-section {
  @include box-container(30rem);

  .box {
    @include box(var(--white));
    padding-top: 1.5rem;

    p {
      list-style: 2;
      font-size: $fs-17;
      color: var(--light-color);
    }

    .user {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: 1.5rem;

      img {
        @include profileImage(5rem);
      }

      h3 {
        font-size: $fs-20;
        color: var(--black);
        margin-bottom: .2rem;
      }

      i {
        color: var(--dark-blue);
        font-size: $fs-15;
      }
    }
  }
}